@import './base.scss';

.dragbar {
  z-index: 100;

  position: relative;
  -webkit-app-region: drag;
  height: 2rem;
  width: 100%;
  background-color: var(--color-background-lighter);

  display: flex;
  flex-direction: row;

  .divider {
    width: 1px;
    height: 2rem;
    background-color: var(--color-text-darker);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    background-color: var(--color-text-darker);
  }

  .text {
    display: inline-flex;
    flex-direction: row;

    height: 2rem;
    align-items: center;

    img {
      height: 100%;
      padding: 0.3rem;
    }

    p {
      padding-left: .5rem;
    }
  }
  .buttons {
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;

    height: 2rem;

    button {
      -webkit-app-region: no-drag;
      position: relative;
      width: 2rem;
      height: 2rem;
      padding: .4rem;
  
      border: none;
      background-color: transparent;
  
      .lucide {
        width: 100%;
        height: 100%;
        position: relative;
        top: .5px;
        right: .5px;
        shape-rendering: geometricPrecision;
        color: var(--color-text-primary);
        transition: all 100ms;
      }

      &:hover .lucide {
        color: #000;
      }
    }
    .close {
      border-radius: 0 .5rem 0 0;
      &:hover {
        background-color: #f55;
      }
    }
    .minimize:hover {
      background-color: #55f;
    }
  }
}